<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>내 정보 찾기</title>
</head>
<style>
.box {
	margin-top: 100px;
	width: 300px;
	height: 150px;
	border-color: #ccc;
	border-style: solid;
	border-width: 3px;
}

.column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
</style>
<body>
	<form style="display: flex; justify-content: center" action="/my-infomation">
		<div class="box column-center">
			<h2>이름을 입력해주세요</h2>
			<div>
				<input name = "name">
				<button type='submit'>조회</button>
			</div>
			<a href='/login' style="margin-top: 10px">로그인 화면으로 돌아가기</a>
		</div>
	</form>



</body>
</html>